<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tablayout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DIAL_PHONE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_entertain"
        android:label="마이앱"
        android:roundIcon="@mipmap/ic_launcher_entertain_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="마이앱">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomersClicked"></activity>
        <activity android:name=".MusicItemClicked"></activity>

        <service android:name=".MusicService"/>
        <service android:name=".MusicService1"/>
        <service android:name=".MusicService2"/>
        <service android:name=".MusicService3"/>
        <service android:name=".MusicService4"/>
<!--        <activity -->
<!--            android:name=".SubActivity_01"-->
<!--            android:label="SubActivity_01"/>-->
    </application>

</manifest>